.sort {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 15px;
}

.sort__button {
  background: #444;
  border: 2px solid #30c5ff;
  border-radius: 0.9em;
  font: inherit;
  line-height: 1;
  padding: 0.5em 1em;
  color: #70d6ff;
  white-space: nowrap;
  transition: all .3s ease-in-out;
}

.sort__button:hover {
  background-color: #30c5ff;
  color: #444;
  cursor: pointer;
}

.sort__input {
  min-width: 100px; 
  outline: none;
  background: #444;
  border: 2px solid #30c5ff;
  border-radius: 0.9em;
  font: inherit;
  line-height: 1;
  padding: 0.5em 1em;
  color: #70d6ff;
  transition: all .3s ease-in-out;
}

.sort__input:focus {
  background-color: #30c5ff;
  color: #444;
}